<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../static/partials/head.ejs %>
  </head>
    <body>

      <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <% include ../static/partials/messages.ejs %>

            <h1><%= `${user.name}'s Profile` %></h1>

            <div>
                <h5><%= `You are on ${user.role} plan` %></h5>
                <div>
                    <p class="upgrade-section"><strong>Upgrade</strong></p>
                    <% if(currentUser.role === 'premium') { %>
                    <div>
                            <form style="display:initial" action="/users/<%= currentUser.id %>/downgrade" method="post">
                                <button type="submit" class="btn btn-danger">Downgrade</button>
                            </form>
                    </div>
                    <% } %>
                    <% if(currentUser.role === 'standard') { %>
                        <div>
                            <form action="/users/<%= currentUser.id %>/upgrade" method="post">
                                <!--<button type="submit" class="btn btn-primary">Update to Premium</button>-->
                                <script 
                                    src="https://checkout.stripe.com/checkout.js"
                                    class='stripe-button btn'
                                    data-key="pk_test_mmX2wPOEADlEcgqx5X67wzoL"
                                    data-amount='1500'
                                    data-name='Premium account charge'
                                    data-description='Charge for upgrading to Premium Blocipedia account.'
                                    data-locale='auto'
                                    data-currency='usd'
                                    data-zip-code="true"
                                >
                                </script>
                                <input type='hidden' name='chargeAmount' value='1500'>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="wikis-list">
                <h5>Your Wikis</h5>
                <ul class="list-unstyled">
                <% if(user.wikis) { %>
                    <% user.wikis.forEach((wiki) => { %>
                    <li>
                        <a href="/wikis/<%= wiki.id %>">
                        <%= wiki.title %>
                        </a>
                    </li>
                    <% }) %>
                <% } %>
                </ul>
                <a href="/wikis/new" class="btn btn-success">New Wiki</a>
            </div>
        
        </main>

      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>
